<div class="container">
  <div class="row">
    <div class="col-md-4">
      <%= form_for @post do |f| %>
        <% if @post.errors.any? %>
          <div id="error_explanation">
            <h2>
              <%= pluralize(@posts.errors.count, "error") %>
            </h2>
            <ul>
              <% @post.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <%= f.text_field :title, class: 'form-control', placeholder: 'Title Name here', required: true %>
        <%= f.text_field :post_content, class: 'form-control', placeholder: 'Write the post description', required: true %>
        
        <%= f.hidden_field :user_id, :value => @user.id%>
        <%= f.submit 'Create Post', class: 'btn btn-default' %>
      <% end %>
  </div>
</div>